.popup {
  width: fit-content;
  height: fit-content;
  padding: 65px 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  margin-top: 200px;
}

.spot_line {
  width: 141px;
  height: 0px;
  border: 2px solid salmon;
  margin: 4px 0 4px 0;
}


.sub_title {
  font-size: 24px;
  padding: 18px 0;
  margin-top: 16px
}

.note_property_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.note_property>input {
  width: 88%;
  line-height: 44px;
  font-size: 40px;
  border: 0;
  background: none;
  background-color: #fff;
  outline: none;
}

.parent_notes {
  width: 100%;
}

.parent_notes>p {
  font-size: 24px;
}


.note_list {
  margin-top: 20px;
  padding-right: 8px;
  overflow: auto;
  height: 220px;
}

.note_list li {
  padding: 6px 8px 6px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}

.note_list li:hover {
  background-color: #f5f5f5;
  border-radius: 12px;
}

.note_list_active {
  border-radius: 12px;
  background-color: #f5f5f5;
}

.parent_notes li>span {
  display: block;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note_depth_02 {
  margin-left: 10px;
}

.note_depth_03 {
  margin-left: 20px;
}

.note_depth_04 {
  margin-left: 30px;
}

.note_depth_05 {
  margin-left: 40px;
}



.popup_buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.popup_buttons>a {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 12px 12px;
  font-weight: 500;
  ;
}

.popup_buttons>a:nth-child(1) {
  color: #FF7171;
  font-size: 24px;
}

.popup_buttons>a:nth-child(2) {
  color: #439546;
  font-size: 24px;
}


.popup_buttons>a:hover {
  opacity: 0.3;
}