

.wrapper {
  display: flex;
}

.wrapper .left-section {
  flex: 0 0 225px;
  padding: 0 20px;
  border-right: 1px solid #ccc;
  height:100vh;
  max-width: 225px;
}

.wrapper .right-section {
  flex: 1;
}

@media (max-width: 840px) {
  .wrapper .left-section {
    display: none;
  }
}