.wrapper {
  display: flex;
}

.wrapper .left-section {
  flex: 0 0 225px;
  padding: 0 20px;
  border-right: 1px solid #ccc;
  height: 100vh;
  max-width: 225px;
}

.wrapper .right-section {
  flex: 1;
}

.viewer {
  white-space: pre-wrap;
  /* 또는 `pre` 사용 */
}

/* ########################################### 
 * 스크롤바 디자인 
 * ###########################################
*/
body {
  overflow-y: overlay;
  /* 반드시 overlay 처리 */
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}


/* ########################################### 
 * 반응형 디자인
 * ###########################################
*/
@media (max-width: 840px) {
  .wrapper .left-section {
    display: none;
  }
}