.wrapper {
  display: flex;
}

.wrapper .left-section {
  flex: 0 0 225px;
  padding: 0 20px;
  border-right: 1px solid #ccc;
  height:100vh;
  max-width: 225px;
}

.wrapper .right-section {
  flex: 1;
}

.viewer {
  white-space: pre-wrap;
  /* 또는 `pre` 사용 */
}

/* Chrome, Edge, Safari */
.cm-scroller::-webkit-scrollbar {
  display: none;
  /* 스크롤바 자체를 보이지 않게 설정 */
}

/* Firefox */
.cm-scroller {
  scrollbar-width: none;
  /* Firefox에서 스크롤바를 숨김 */
}

/* IE, Edge (구버전) */
.cm-scroller {
  -ms-overflow-style: none;
  /* IE와 구버전 Edge에서 스크롤바를 숨김 */
}

@media (max-width: 840px) {
  .wrapper .left-section {
    display: none;
  }
}