.header {
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 12px;
}

.menu li {
  cursor: pointer;
}

.bredcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bredcrumb li:nth-child(1) {
  cursor: default;
}

.bredcrumb li {
  cursor: pointer;
}

.menu {
  width: 60px;
  padding-right: 12px;
}

.menu li:hover {
  opacity: 0.4;
  ;
}