.header{
  width: clac(100%-24px);
  padding: 20px 12px;
  display: flex;
  justify-content: space-between;
}

.menu{
  display: flex;
  gap:12px;
}

.bredcrumb{
  display: flex;
  gap:10px;
  padding-left:28px;
}