.icon {
  background: url(/icons/icons.svg);
  background-size: full;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.icon32 {
  background: url(/icons/icons.svg);
  background-size: full;
  width: 32px;
  height: 32px;
  display: inline-block;
}


.note {
  background-position: 0 -48px;
}

.page {
  background-position: -24px -48px;
}

.write {
  background-position: -120px -48px;
}

.book {
  background-position: -48px -47px;
}

.search {
  background-position: -24px -71px;
}

.menu {
  background-position: -48px -71px;
}

.bookmark {
  background-position: 0 -124px;
}