/* Project title */
.border_0 {
  border: none;
}

.mt_6 {
  margin-top: 24px;
}


/* Notes gap */
.note_section {
  margin-top: 24px;
}

/* Notes */
.subject input {
  color: #6D6D6D;
  padding: 4px 0 4px 4px;
  margin: 12px 0;
  font-size: 16px
}

.note_title {
  font-size: 14px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.note {
  padding: 2px 4px 2px 4px;
}

.note_wrapper h2,
.note_wrapper h3,
.note_wrapper h4,
.note_wrapper li {
  padding: 6px 12px 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.note_wrapper h2:hover,
.note_wrapper h3:hover,
.note_wrapper h4:hover,
.note_wrapper li:hover {
  background: #EAEAEA;
}

.note_depth_01 {
  margin-left: 8px;
}

.note_depth_02 {
  margin-left: 24px;
}

.note_depth_03 {
  margin-left: 40px;
}

.note_depth_04 {
  margin-left: 56px;
}


/* pages */
.page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.page:hover {
  background: #EAEAEA;
}

.page_depth_01 {
  margin-left: 16px;
}

.page_depth_02 {
  margin-left: 32px;
}

.page_depth_03 {
  margin-left: 48px;
}

.page_depth_04 {
  margin-left: 64px;
}