.write_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.write_wrapper>div {
    flex-grow: 1;
    flex-basis: 50%;
}

.left_section {
    padding: 36px;
    position: relative;
}


.title {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    ;
}

.title input {
    border: 0;
    font-size: 44px;
    outline: none;
}

.tags {
    padding: 20px 0;
}

.tags input {
    border: 0;
    font-size: 18px;
    outline: none;
}

.toolbar {
    padding: 20px 0;
    display: flex;
    gap: 16px;
}

.toolbar button {
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

.toolbar button:hover {
    opacity: 0.4;
}

.editor {
    margin-top: 12px;
    height: calc(100% - 280px);
    overflow: auto;
}

.icon {
    background: url(/icons/icons.svg);
    background-size: full;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.heading_1 {
    background-position: 0px 0px;
}

.heading_2 {
    background-position: -24px 0px;
}

.heading_3 {
    background-position: -48px 0px;
}

.heading_4 {
    background-position: -72px 0px;
}

.heading_5 {
    background-position: -96px 0px;
}

.bold {
    background-position: -120px 0px;
}

.italic {
    background-position: -144px 0px;
}

.remove {
    background-position: -168px 0px;
}

.image {
    background-position: -192px 0px;
}

.code {
    background-position: -216px 0px;
}

.editor textarea {
    border: 0;
    width: 100%;
}

.left_footer {
    display: flex;
    position: absolute;
    bottom: 24px;
    justify-content: space-between;
    width: calc(100% - 72px);
}

@media (max-width: 1024px) {
    .right_section {
        display: none;
    }
}